.navbar{
  text-align:right;
  position:absolute;
  display:flex;
  justify-content: flex-end;
  float:right;
  border: 1px solid red;
  }
.darkmode{
display:flex;
align-items: stretch;
text-align:right;
}